<div class="container">

  <div class="form-group col-md-4">
    <p ng-if="myinfoCtrl.error">Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></p>
  </div>

  <h2 ng-if="!myinfoCtrl.error" id="menu-categories-title" class="text-center">My Info</h2>

  <form name="signUp" novalidate ng-if="!myinfoCtrl.error">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="fname">First Name</label>
        <p>{{myinfoCtrl.userInfo.fname}}</p>
      </div>
      <div class="form-group col-md-6">
        <label for="lname">Last Name</label>
        <p>{{myinfoCtrl.userInfo.lname}}</p>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <p>{{myinfoCtrl.userInfo.email}}</p>
      </div>
      <div class="form-group col-md-6">
        <label for="phone_number">Phone Number</label>
          <p>{{myinfoCtrl.userInfo.phone_number}}</p>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="address">Address</label>
          <p>{{myinfoCtrl.userInfo.address}}</p>
      </div>
      <div class="form-group col-md-6">
        <label for="short_name">Favorite dish</label>
        <p>{{myinfoCtrl.userInfo.short_name}}</p>
      </div>

    </div>
  <div class="form-row text-center">
    <div class="form-group col-md-12">
      <menu-item  menu-item="myinfoCtrl.userInfo.choosenMenuCateg">
      </menu-item>
    </div>
  </div>

  </form>
</div>
